.login{
			height: 14.2px;
			width: 100%;
			position: relative;
			margin-top: -7px;
		}
		ul{
			list-style: none;
			width: 100%;
		}
		li{
			display: inline-block;
			font-size: 0.1rem;
			position: relative;
			left: 600px;
			top: -5px;
			
		}